---
---

@import "{{ site.theme }}";

.page-header {
    background-color: #468063;
    background-image: none;
}

.project-tagline {
    font-size: 3.25rem;
    opacity: 1.0;
}

#se-reconstruire-dans-un-monde-numérique--penser-les-crises-à-venir-et-défis-futurs {
    visibility: hidden;
}
